/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set background color and font styles */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: solid #333;
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the heading */
h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

/* Style the paragraph */
p {
  font-size: 16px;
  color: #791313;
  line-height: 1.5;
}


/* Media query for small screens */
@media screen and (max-width: 600px) {
  /* Add styles for small screens here */
  .container {
    flex-direction: column;
    text-align: center;
  }
}

/* Media query for medium screens */
@media screen and (min-width: px) and (max-width: 796px) {
  /* Add styles for medium screens here */
  .container {
    flex-direction: column;
    text-align: center;
  }
}

/* Media query for large screens */
@media screen and (min-width: 996px) {
  /* Add styles for large screens here */
  .container {
    flex-direction: column;
    text-align: center;
  }
}
