/* Reset default styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightcoral;
  color: solid black;
} /* Style the header */


nav {
  display: inline;
  background-color: lightcoral;
  color: #fff;
  text-align: right;
  flex-direction: column;
  flex: wrap;
} /* Style the navigation bar */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  background-color: lightcoral;
  border-radius: 0%;
  text-align: right;
  display: inline;
} /* Style the navigation bar */

nav ul li {
  display: inline;
  margin: 0;
  padding: 3px;
  background-color: lightcoral;
  border-radius: 0%;
  text-align: right;
} /* Style the navigation bar */


/* Set background color and font styles */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: solid #333;
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the heading */
h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

/* Style the paragraph */
p {
  font-size: 16px;
  color: solid black;
  line-height: 1.5;
  padding: auto;
  display: flex;
  justify-content: center;
}

.aboutme {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #333;
  display: flex;
  flex: auto;
  image-rendering: 50%;
  text-align: left;
} /* Style the about me section */

.contact {
  background-color: lightcyan;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #333;
  display: inline-block;
  flex: auto;
  text-align: right;
} /* Style the contact section */


.project1 {
  background-color: lightblue;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #333; 
} /* Style the project 1 and its contents */


/* Style the project 2 and its contents */
.project2 {
  background-color: lightgreen;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #333;
}

/* Style the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  width: 100%;
  background-color: lightpink;
  color: black;
  text-align: center;
}


/* Media query for medium screens */
@media screen and (max-width: 768px) {
  /* Add styles for medium screens here */
  .card{
    width: 100%;
  }
  header {
    flex-direction: column;
    text-align: left;
    background-color: lightyellow;
  }
}

/* Media query for large screens */
@media screen and (min-width: 996px) {
  /* Add styles for large screens here */
  .card{
    width: 50%;
  }
  header {
    flex-direction: column;
    text-align: right;
    background-color: lightpink;
  }
}
